<!-- Connection error and retry button -->
<div style="position: relative;" >
    <div class="error-in-connection-container" *ngIf="isErrorInConnection">
      <div> Error in Conncetion </div>
       <div> <button mat-button (click)="retry()"> <mat-icon>refresh</mat-icon> Retry</button> </div>
</div>

<!-- Loading spinner -->
<div class="mat-spinner-main-container" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>

<!-- Dashoard viewer section -->
<app-dashboard-viewer *ngIf="!isLoading && dashboardSchema" [layouts]="dashboardSchema.layouts"></app-dashboard-viewer>