<div style="position: sticky;bottom: 0px;background: #eee;height: 26px;">
    <div style="padding-left: 5px;">
        <mat-icon (click)="goToFacebook()" style="height: 20px;width: 20px;padding-top: 2px;cursor: pointer;" svgIcon="custom_icon_facebook"> </mat-icon>
        <mat-icon (click)="goToLinkedIn()" style="height: 20px;width: 20px;padding-top: 2px;cursor: pointer;" svgIcon="custom_icon_linkedin"></mat-icon>
        <mat-icon (click)="goToGoogleMap()" style="height: 20px;width: 20px;padding-top: 2px;cursor: pointer;" svgIcon="custom_icon_google_maps"></mat-icon>
        <mat-label style="font-size: 12px;font-weight: bold;position: absolute;padding-top: 4px;"> | Version 1.1.0.1</mat-label>
    </div>
</div>