<div class="contain">
    <mat-card class="card">
        <div class="card-head">

            <div class="badge" [ngClass]="in_stock == false ? 'red': 'green'">

                <p *ngIf="in_stock == false">{{'SOLD-OUT' | translate}}</p>
                <p *ngIf="in_stock == true">{{'IN-STOCK' | translate}}</p>

            </div>

            <img (load)="onImageLoad()" mat-card-image [src]="image_path"
                loading="lazy" alt="Photo of an item" (error)="setNoImage($event)"> 
            <!-- <img src="../../../assets/images/no-image-image.png" *ngIf="image_path == undefined || image_path == null" alt=""> -->

        </div>
        <mat-divider inset></mat-divider>
        <div class="card-body">
            <div class="body-content">
                <div class="descripton">
                    <p class="descripton-text">{{description}}</p>
                </div>

                <div class="price">
                    <div class="item-price">
                       <h2>{{price | number }}</h2> <span class="lbp">LBP </span> 
                    </div>
                    <div class="quantity">
                        <mat-icon [ngClass]="{'disable-mat-icon': in_stock == false}" (click)="decreaseQuantity()">remove
                        </mat-icon>
                        <input [disabled]="in_stock == false" (keypress)="validateNumber($event)" (keyup)="seeIfZero()"
                            class="quantity-input" type="number" [(ngModel)]="orderQuantity">
                        <mat-icon [ngClass]="{'disable-mat-icon': in_stock == false}" (click)="addQuantity()">add</mat-icon>
                    </div>
                </div>
                <div class="btnn">
                    <button  [disabled]="in_stock == false" mat-flat-button class="add-to-basket-btn"
                        (click)="addToBasket()">{{'ADD TO BASKET' | translate}}</button>
                </div>
            </div>
        </div>
    </mat-card>

</div>