<div class="content" #content infinite-scroll
            *ngIf="loadingService.loadBar==false"   (scrolled)="onScroll()" > 
    <div class="spinner" *ngIf="loadingService.loadSpinner == true">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="loadingService.loadSpinner == false">
        <div *ngIf="itemsService.items.length > 0 && responsiveService.grid == 'cards'" fxLayout="row wrap" fxLayoutGap="10px grid">
            <div fxFlex.md="50%" fxFlex.lg="33.333%" fxFlex.xl="25%" fxFlex.xs="100%" fxFlex.sm="50%"
                *ngFor="let item of itemsService.items">
                <app-item [item_code]="item.item_code" [description]="item.description" [price]="item.price"
                    [in_stock]="item.in_stock" [image_path]="item.image_path"></app-item>
            </div>
        </div>


        <app-items-table *ngIf="itemsService.items.length > 0 && responsiveService.grid == 'table'" ></app-items-table>

        <div *ngIf="(itemsService.searchMode == true && itemsService.items.length == 0 && loadingService.loadSpinner == false)
    || (itemsService.filterAttributeValuesCode && itemsService.items.length == 0)" class="h1">{{'No Items Found' | translate}}</div>

        <div *ngIf="loadingService.paginationLoad == true" class="pagination-load">
       
            <mat-spinner style="margin:0 auto;" [diameter]="30"></mat-spinner>
        </div>
    </div>