.component-container {

}

dx-data-grid{
    height: inherit;
}

::ng-deep .dx-datagrid {
    background-color: rgba(0,0,0,0);
}

:host ::ng-deep .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(63, 81, 181,0.2);
}

::ng-deep .dx-datagrid .dx-row > td {
    padding-top: 5px;
    padding-bottom: 5px;
}

::ng-deep .dx-datagrid-rowsview .dx-row > td,
.dx-datagrid-rowsview .dx-row > tr > td {
    background-color: rgba(0,0,0,0);
}

::ng-deep .dx-datagrid .dx-row-alt > td,
.dx-datagrid .dx-row-alt > tr > td {
    background-color: rgba(0,0,0,0);
}

::ng-deep .dx-row {
    background-color: rgba(0,0,0,0);
}

::ng-deep .dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row) > td:not(.dx-focused) {
    background-color: #d0d0d0;
}

::ng-deep .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
    line-height: 16px;
    font-weight: 600;
    font-size: 14px;
    color: #4e4e4e
}