<div class="login-register" style="background-color:#1e88e5;">
    <div class="login-register-box" [dir]="dir">
        <mat-card>
            <mat-card-content>
                <img *ngIf="isBetaVersion" style="height:90px; position:absolute; top: 0px; left: 0px;" src="assets/images/beta-version-icon.png" />

                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="text-center">
                        <img alt="homepage" src="assets/images/quayo-logo-blue.svg">
                        <h4 class="m-t-0">{{'REGISTER' | translate}}</h4>
                    </div>
                    <div fxLayout="row wrap">
                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="{{'USER CODE' | translate}}" type="text" [formControl]="form.controls['userCode']">

                            </mat-form-field>
                            <small *ngIf="form.controls['userCode'].hasError('required') && form.controls['userCode'].touched" class="text-danger support-text">{{'USER CODE REQUIRED' | translate}}</small>

                        </div>
                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="{{'USER NAME' | translate}}" type="text" [formControl]="form.controls['userName']">

                            </mat-form-field>

                        </div>
                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="{{'EMAIL ADDRESS' | translate}}" type="email" [formControl]="form.controls['email']">
                            </mat-form-field>
                            <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="text-danger support-text">{{'INCLUDE EMAIL ADDRESS MSG' | translate}}</small>
                            <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched" class="text-danger support-text">{{'INCLUDE VALID EMAIL ADDRESS MSG' |
                                translate}}</small>
                        </div>
                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput type="password" placeholder="{{'PASSWORD'|translate}}" [formControl]="form.controls['password']">
                            </mat-form-field>
                            <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="text-danger support-text">{{'INCLUDE PASSWORD MSG' | translate}}</small>
                        </div>
                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="{{'CONFIRM PASSWORD'|translate}}" [formControl]="form.controls['confirmPassword']" type="password">
                            </mat-form-field>
                            <small *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched" class="text-danger support-text">{{'INCLUDE CONFIRM PASSWORD MSG' | translate}}</small>
                            <small *ngIf="form.controls['confirmPassword'].errors?.equalTo" class="text-danger support-text">{{'PASSWORDS DO NOT MATCHES' | translate}}</small>
                        </div>
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <button mat-raised-button [disabled]="!form.valid || isLoading" type="submit" class="btn-block btn-lg m-t-20 m-b-20" color="primary">
                                <div *ngIf="isLoading" class="button-spinner-container">
                                    <mat-spinner diameter="24"></mat-spinner>
                                </div>
                                <span *ngIf="!isLoading">{{'CREATE YOUR ACCOUNT'|translate}}</span>

                            </button>
                        </div>


                        <div class="text-center" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <span>{{'ALREADY HAVE AN ACCOUNT'|translate}}?
                                <a [routerLink]="['/authentication/login']" class="link text-info"> Login</a>
                            </span>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>